@model ExerciseListViewModel;

<link rel="stylesheet" href="~/css/Exercises/AllByMuscleGroup.css" asp-append-version="true" />
@{
    ViewData["Title"] = $"{Model.MuscleGroupName} exercises";
}

<div class="card-container">
    <h1 class="title">@Model.MuscleGroupName exercises:</h1>
    <hr>

    @if (Model.Exercises.Count() != 0)
    {
        @foreach (var exercise in this.Model.Exercises)
        {
            <div class="card">
                <img class="card-img" src="@exercise.ImageUrl">
                <div class="card_description">
                    <div><strong>Name: </strong>@exercise.Name</div>
                    <div><strong>Created on: </strong>@exercise.CreatedOn</div>
                    <div><strong>Added by: </strong>@exercise.AddedByUsername</div>
                    
                    <div class="card-buttons">
                        <a asp-controller="Exercises" asp-action="ById" asp-route-exerciseId="@exercise.Id" class="details-button">Check it out</a>
                        
                        <form asp-controller="Workouts" asp-action="AddExercise">

                            <input asp-for="ExerciseId" value="@exercise.Id" style="display:none">
                            <select class="exercise-dropdown-input" asp-for="WorkoutId" class="form-control" asp-items="@ViewBag.WorkoutsSelectList">
                                <option value=" " selected disabled>Choose workout...</option>
                                @*@Model.ExerciseId = exercise.Id;*@
                            </select>
                            <button class="exercise-add-btn">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <h1 class="no-exercises-message">No exercises added yet!</h1>
    }

    <hr>
</div>
