@model ExerciseByIdViewModel

<link rel="stylesheet" href="~/css/Exercises/ById.css" asp-append-version="true" />
@{
    ViewData["Title"] = $"{Model.Name} exercise";
}

<h1 class="exercise-title">@Model.Name exercise</h1>

<hr />

<!-- Slideshow container -->
<div class="slideshow-container">

    @foreach (var image in Model.Images)
    {
        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
            <img class="image" src="@image.Url">
        </div>
    }

    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    <br />
</div>

<div class="exercise-video">
    @{
        string path = "https://www.youtube.com/embed/" + Model.EmbeddedVideoCode;
    }
    <iframe width="850" height="450"
            src="@path"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
</div>

<div class="exercise-content">
    <div class="content-box">
        <strong class="content-title">Description:</strong>
        <div>
            @Model.Description
        </div>
    </div>

    <div class="content-box">
        <strong class="content-title">Muscle Group:</strong>
        <div>
            @Model.MuscleGroupName
        </div>
    </div>

    <div class="content-box">
        <strong class="content-title">Added by:</strong>
        <div>
            @Model.AddedByUser.FirstName @Model.AddedByUser.LastName
        </div>
    </div>

    <a asp-controller="" asp-action="" asp-route-id="@Model.Id" class="button btn-add">Add to your workout</a>
    @if (Model.CurrentUserId == Model.AddedByUser.Id)
    {
        <a asp-controller="Exercises" asp-action="Delete" asp-route-id="@Model.Id" class="button btn-delete">Delete exercise</a>
    }

</div>

<hr />

@section Scripts{
    <script>
        let slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    </script>
}
